.img-overlay
{
	position: absolute;
	width: 20%;
	background:transparent;    
	border:none;
	color:#fff;
	font-weight: bold;	
	text-shadow: #000 5px 5px 5px;	
}
.hidden
{
	display: none;
}
.responsive
{
	max-width: 100%;
}